body {
    min-height: 100%;
}

.page {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.page-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: hsl(0, 0%, 13%);
    padding: 20px;
    min-height: 70px;
}

.page-header__logo {
    font-size: 23px;
    font-weight: 700;
    color: #fff;
    font-family: 'Montserrat', sans-serif;

    @media (max-width: 655px) {
        display: none;
    }
}

.page-header__navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media (min-width: 656px) {
        margin-left: 15px;
    }
}

.header-navigation-list__item {
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: 600;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

.header-navigation-list {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: 656px) {
        display: flex !important;
    }

    @media (max-width: 655px) {
        flex-direction: column;
        position: absolute;
        top: 70px;
        background-color: #25aae1;
        z-index: 1;
        width: 100%;
        left: 0;
        overflow-x: hidden;
        transform-origin: 0 0;
        padding-bottom: 5px;
    }
}

.header-navigation-list__item {
    @media (max-width: 655px) {
        padding-left: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.header-navigation-list__item--hide {
    @media (min-width: 656px) {
        display: none;
    }
}

.header-navigation-sublist__item {
    @media (max-width: 655px) {
        padding-left: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.header-navigation-sublist--children .header-navigation-sublist__item:last-child {
    padding-bottom: 0;
}

.header-navigation-list__link,
.header-navigation-sublist__link {
    color: #fff;
}

.header-navigation-sublist {
    @media (min-width: 656px) {
        display: none;
    }
}

.header-navigation-list__item:not(:last-child) {
    margin-right: 10px;
}

.page-blog {
    padding-left: 15px;

    @media (max-width: 655px) {
        padding-left: 0;
    }
}

.page-blog__head,
.page-post__title,
.page-post__label,
.page-blog__subhead,
.page-post__input {
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

.page-blog__head {
    font-size: 24px;
    margin-bottom: 10px;
}

.page-blog__head--lk {
    font-size: 20px;
}

.page-blog__subhead {
    font-size: 19px;
    margin-bottom: 7px;
}

.page-post__title {
    font-size: 18px;
    color: #343434;
    margin-bottom: 3px;
    display: inline-block;
}

.page-blog__label {
    font-size: 15px;
    margin-bottom: 2px;
    display: inline-block;
}

.page-blog__input {
    font-size: 15px;
    padding: 5px 4px;
    border-radius: 5px;
    width: 190px;
    border: 1px solid #7d7575;
}

.page-blog__box {
    margin-bottom: 8px;
}

.page-blog__wrap {
    margin-bottom: 10px;
}

.page-blog__error {
    color: #e53a3a;
}

.page-posts__post {
    margin-bottom: 15px;
}

.page-posts__post:not(:last-child) {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 15px;
}

.page-header__logo:hover,
.page-post__title:hover,
.header-navigation-list__link:hover,
.header-navigation-sublist__link:hover {
    color: #04bc77;
}

.page-content {
    background: #f4f4f4;
}

.page-blog__posts {
    width: 100%;
}

.page-post__date {
    color: #7b7a7a;
    font-size: 14px;
    margin-bottom: 2px;
    font-family: 'Montserrat', sans-serif;
}

.page-post__descript {
    color: #9c9c9c;
    font-size: 15px;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
}

.page-post__btn,
.page-blog__btn {
    font-size: 16px;
    padding: 8px 16px;
    color: #fff;
    display: inline-block;
    margin-right: 5px;
    font-family: 'Montserrat', sans-serif;
}

.page-post__btn:not(:last-child) {
    @media (max-width: 655px) {
        margin-bottom: 7px;
    }
}

.page-blog__content {
    font-size: 16px;
    color: #333;
    padding-bottom: 20px;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

.page-blog__btn--lk,
.page-blog__btn--register,
.page-blog__btn--create{
    border-radius: 3px;
}

.page-blog__btn--lk,
.page-post__btn--more,
.page-blog__btn--register,
.page-blog__btn--login,
.page-blog__btn--create {
    background-color: #04bc77;
}

.page-blog__btn--lk:hover,
.page-post__btn--more:hover,
.page-blog__btn--register:hover,
.page-blog__btn--login:hover,
.page-blog__btn--create:hover {
    background-color: #24e29b;
}

.page-post__btn--edit {
    background-color: #e18334;
}

.page-post__btn--edit:hover {
    background-color: #f59a4d;
}

.page-post__btn--delete {
    background-color: #d83838;
}

.page-post__btn--delete:hover {
    background-color: #f14f4f;
}

.page-aside__link {
    font-weight: 600;
    color: #343434;
    font-family: 'Raleway', sans-serif;
}

.page-aside__link:hover {
    color: #24e29b;
}

.page-post__btn--back {
    background-color: #2678d5;
}

.page-post__btn--back:hover {
    background-color: #4795ee;
}

.page-content__wrapper {
    padding: 20px;
}

.page-content--column .page-content__wrapper {
    grid-template-columns: 190px auto;
    display: grid;
    height: 100%;

    @media (max-width: 655px) {
        display: flex;
    }
}

.page-content__stage {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.page-footer {
    background: hsl(0, 0%, 13%);
    text-align: center;
    padding: 15px;
}

.page-footer__copyright {
    font-size: 14px;
    color: #fff;
    line-height: 1.2;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.page-aside {
    position: relative;

    @media (max-width: 655px) {
        display: none;
    }

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background-color: #e1e1e1;
        width: 1px;
        height: 100%;
    }
}

.comments-tree__name {
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

.category-tree {
    list-style: none;
    padding-left: 0;
}

.category-tree__item {
    margin-bottom: 8px;
}

.category-tree__link {
    font-weight: 600;
    color: #343434;
    font-family: 'Raleway', sans-serif;
}

.category-tree__link:hover {
    color: #24e29b;
}

.category-tree__children {
    padding-left: 20px;
    margin-top: 8px;
    /*border-left: 2px solid #eee;*/
}

.category-tree__link {
    text-decoration: none;
    color: #333;
    transition: color 0.2s;
}

.category-tree__link:hover {
    color: #42b983;
}

.comments-tree {
    list-style: none;
    padding-left: 0;
}

.comments-tree__item {
    margin-bottom: 8px;
}

.comments-tree__link {
    font-weight: 600;
    color: #343434;
    font-family: 'Raleway', sans-serif;
}

.comments-tree__link:hover {
    color: #24e29b;
}

.comments-tree__box {
    display: flex;
    flex-direction: column;
}

.comments-tree__name {
    margin-right: 5px;
}

.comments-tree__children {
    padding-left: 20px;
    margin-top: 8px;
    border-left: 2px solid #eee;
}

.comments-tree__item {
    text-decoration: none;
    color: #333;
    transition: color 0.2s;
}

.header-navigation__btn {
    display: flex;
    color: #fff;
    margin-right: 5px;

    @media (min-width: 656px) {
        display: none;
    }
}

.header-navigation__btn:hover {
    color: #04bc77;
}

.header-navigation__ico {
    width: 30px;
    height: 30px;
    fill: currentColor;
}