body {
    min-height: 100%;
}

.page {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.page-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: hsl(0, 0%, 13%);
    padding: 20px;
}

.page-header__logo {
    font-size: 23px;
    font-weight: 700;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.page-header__navigation {
    margin-left: 15px;
}

.header-navigation__item {
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: 600;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;

    &:not(:last-child) {
        margin-right: 10px;
    }
}

.page-blog {
    padding-left: 15px;
}

.page-blog__head,
.page-post__title {
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

.page-blog__head {
    font-size: 24px;
    margin-bottom: 10px;
}

.page-post__title {
    font-size: 18px;
    color: #343434;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 3px;
    display: inline-block;
}

.page-posts__post {
    margin-bottom: 15px;

}

.page-posts__post:not(:last-child) {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 15px;
}

.page-header__logo:hover,
.page-post__title:hover,
.header-navigation__item:hover {
    color: #04bc77;
}

.page-content {
    background: #f4f4f4;
}

.page-post__date {
    color: #7b7a7a;
    font-size: 14px;
    margin-bottom: 2px;
    font-family: 'Montserrat', sans-serif;
}

.page-post__descript {
    color: #9c9c9c;
    font-size: 15px;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
}

.page-post__btn {
    font-size: 16px;
    padding: 8px 16px;
    color: #fff;
    display: inline-block;
    margin-right: 5px;
    font-family: 'Montserrat', sans-serif;
}

.page-post__btn--more {
    background-color: #04bc77;
}

.page-post__btn--more:hover {
    background-color: #24e29b;
}

.page-post__btn--edit {
    background-color: #e18334;
}

.page-post__btn--edit:hover {
    background-color: #f59a4d;
}

.page-post__btn--delete {
    background-color: #d83838;
}

.page-post__btn--delete:hover {
    background-color: #f14f4f;
}

.page-post__btn--back {
    background-color: #2678d5;
}

.page-post__btn--back:hover {
    background-color: #4795ee;
}

.page-content__wrapper {
    padding: 20px;
}

.page-content--column .page-content__wrapper {
    grid-template-columns: 190px auto;
    display: grid;
    height: 100%;
    /*padding: 0;*/
    /*border-right: 1px solid #e1e1e1;*/
}

.page-footer {
    background: hsl(0, 0%, 13%);
    text-align: center;
    padding: 15px;
}

.page-footer__copyright {
    font-size: 14px;
    color: #fff;
    line-height: 1.2;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.page-aside {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background-color: #e1e1e1;
        width: 1px;
        height: 100%;
    }
}

/*
a {
    color: #fff;
    margin: 0 5px;
}

h1 {
    font-size: 25px;
    margin-bottom: 20px;
}

.page-posts {
    display: flex;
    flex-wrap: wrap;
}

.page-posts__post {
    width: 30%;
    margin-right: 1%;
    margin-bottom: 2%;
    box-shadow: inset 0 0 3px 1px #c7c2c2;
    padding: 10px;
}

.page-post-category {
    display: flex;
    flex-direction: row;
}

main a {
    color: rebeccapurple;
    margin: 0;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
input[type="submit"]:hover {
    background-color: #218838;
}
.error {
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
}
.btn {
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    background-color: #1d4ed8;

    &:active {
        background-color: #1e40af;
    }
}

 */